div {
    max-width: 1600px;
}
#content {
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: blueviolet;
}
body {
    background-color: azure;
}
header {
    background-color: rgba(20,30,13, .7);
}
nav a:hover {
    background-color: blue;
    color: aliceblue;
}
.book, .join {
    background-color: aqua;
    text-decoration: none;
    text-align: center;
}
.book:hover, .join:hover {
    background-color: aquamarine;
}
.msg {
    background-color: brown;
}
footer {
    background-color: blue;
}
.home-title {
    color: aliceblue;
}
h4 {
    color: antiquewhite;
}
.msg h2 {
    color: black;
}
.msg p {
    color: aliceblue;
}
footer h3 {
    color: aliceblue;
}
footer a {
    color: aliceblue;
    text-decoration: none;
}
footer a:hover {
    color: aquamarine;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}