@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Source+Sans+Pro:wght@300&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #f9dbbd   ;
  --secondary-color: #fca17d ;
  --accent1-color: #da627d;
  --accent2-color: #9a348e;

  /* change the values below to your chosen font(s) */
  --heading-font: "regular 400";
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    text-align: center;
    background-color: #da627d;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;

}
nav {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
    background-color:#da627d;
    line-height: 3em;
    font-size: 1.2em;
}
nav a {
    color: aliceblue;
    font-family: sans-serif;
}
nav a:link {
    text-decoration: none;
}
.logo {
    width: 80px;
}

main section {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
}
.home-img {
    width: 600px;
    padding-top: 10%;
    padding-left: 100%;
}
.grammar1-img {
    width: 600px;
    grid-column: 1;
}
.grammar2-img {
    width: 600px;
    padding-top: 70%;
}
.grammar3-img {
    width: 600px;
    grid-row: 1;
}
h1 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 3;
    padding-bottom: 20%;
}

#page-1 p {
    font-family: Roboto, Helvetica, sans-serif;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 6;
    column-count: 2;
    column-width: 30px;
    padding-bottom: 20%;
}
#page-2-1 h1 {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
}
#grammar-paragraph-1 h1 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 1;
}
#grammar-paragraph-1 p {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 1;
    padding-left: 18%;
    padding-top: 15%;
    text-align: justify;
}
#grammar-paragraph-2 h1 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 2;
}
#grammar-paragraph-2 p {
    text-align: justify;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 2;
    padding-left: 18%;
    padding-top: 15%;
}
#grammar-paragraph-3 h1 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 1;
}
#grammar-paragraph-3 p {
    text-align: justify;
    grid-column-start: 3;
    grid-column-end: 6;
    padding-left: 18%;
}
#page-2-1 p {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 2;
    column-count: 1;
    text-align: justify;
}
footer {
    background-color: #da627d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
}
h3 {
    display: block;
    font-size: 1.17em;
    color: aliceblue;
    font-family: sans-serif;
}
footer a {
    color: aliceblue;
    text-decoration: none;
}
